
body{
    background-color: rgb(214, 241, 250);
    width: 81%;
}

.paragraph p {
    position: relative;
    top: 625px;
    font-size: 18px;
    left: 288px;
    font-weight: bold;
}

.text{
    position: absolute;
}


#first{
    position: relative;
    width: 50%;
    height: 500px;
    left: 280px;
    top: 0px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    border: 2px solid black;
    border-radius: 20px;
    text-transform: lowercase;
    box-shadow: 3px 3px 5px black;
    font-weight: bold;
}

#second{
    position: relative;
    width: 40%;
    height: 600px;
    left: 380px;
    top: 100px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    border: 2px solid black;
    border-radius: 20px;
    text-transform: lowercase;
    box-shadow: 3px 3px 5px black;
}

.btn{
    position: absolute;
}

#crypto{
    position: relative;
    top: 650px;
    left: 320px;
    padding: 10px 40px 10px 40px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 4.5px black;
    transition: 0.6s;
}

#crypto:hover{
    background-color: rgb(166, 253, 220);
}

#uncrypto{
    position: relative;
    padding: 10px 40px 10px 40px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 4.5px black;
    transition: 0.6s;
    top: 650px;
    left: 340px;
}

#uncrypto:hover{
    background-color: rgb(166, 253, 220);
}

#copy{
    position: relative;
    padding: 10px 40px 10px 40px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 4.5px black;
    transition: 0.6s;
    top: 650px;
    left: 600px;
}

#copy:hover{
    background-color: rgb(166, 253, 220);
}

footer{
    width: 100%;
    background-color: rgb(66, 255, 145);
    position: absolute;
    height: 20%;
    top: 900px;
    font-size: 18px;
    font-weight: bold;
}

.autor{
    position: relative;
    top: 95px;
    text-align: center;
}

.info{
    position: relative;
    top: 105px;
    text-align: center;
}

.links p{
    position: relative;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    bottom: 22px;
}

#linkedin{
    position: relative;
    width: 2%;
    left: 750px;
    bottom: 5px;
}

#github{
    position: relative;
    width: 2%;
    left: 760px;
    bottom: 5px;
}